<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>유기동물 다운로드</h1>

    {{#animalslist}}

    유기번호 : {{desertionNo}}

    접수일 : {{happenDt}}

    발견장소 : {{happenPlace}};

    품종 : {{kindCd}}

    색상 : {{colorCd}}

    나이 : {{age}}

    체중 : {{weight}}

    공고번호 : {{noticeNo}}

    공고 시작일 : {{noticeSdt}}

    공고 종료일 : {{noticeEdt}}

    상태 : {{processState}}

    성별 : {{sexCd}}

    중성화 여부 : {{neuterYn}}

    특징 : {{specialMark}}

    보호소 이름 : {{careNm}}

    보호소 전화번호 : {{careTel}}

    보호장소 : {{careAddr}}

    관활기관 : {{orgNm}}

    담당자 : {{chargeNm}}

    담당자 연락처 : {{officetel}}

    특이사항 : {{noticeComment}}
    <hr>

    {{/animalslist}}
</body>

</html>